.about {
    width: 90vw;
    height: 90vh;
    position: absolute;
    left: 10%;
    top: 10%;
}

.about1 {
    width: 80%;
    height: 60%;
    position: absolute;
    margin: 10%;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, .25);
}

.description {
    width: 50%;
    margin: 7% 0 0 50%;
}

.about1>img {
    width: 30%;
    border-radius: 40%;
    margin: 8%;
    position: absolute;
    bottom: 1%;
}

.name,
.phone,
.birth,
.house,
.email,
.git,
.blog {
    width: 3%;

}

p {
    font-size: 1.5rem;
}